.actions a{
  opacity: 0;
}
tr:hover .actions a{
  opacity: 1;
}
tbody td a{
  color: #111;

  &:hover{
    color: #111;
  }
}
.ui.placeholder .header:not(:first-child):before, .ui.placeholder .image:not(:first-child):before, .ui.placeholder .paragraph:not(:first-child):before {
  height: 0;
}
.ui.grid>.row>.column>img, .ui.grid>.row>img {
  max-width: 65%;
}