body{
  margin: 0;
}
.container-fluid{
  margin: 0;
  padding: 0 !important;
}
.actions a{
  opacity: 0;
}
tr:hover .actions a{
  opacity: 1;
}
tbody td a{
  color: #111;

  &:hover{
    color: #111;
  }
}
.ui.placeholder .header:not(:first-child):before, .ui.placeholder .image:not(:first-child):before, .ui.placeholder .paragraph:not(:first-child):before {
  height: 0;
}
.ui.grid>.row>.column>img, .ui.grid>.row>img {
  max-width: 65%;
}
nav.navbar.shadow.fixed-top.navbar-expand-sm.navbar-dark.bg-primary {
  height: 84px;
}
.jumbotron{
  background-color: #ff3f34 !important;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}
.container-fluid .py-3 div{
}
.brand-icon{
  font-size: 5rem;
}
.nav-links a{
  color: #fff;
}